NODE_ENV=local #local|development|production
PORT=1234

#POSTGRES
POSTGRES_HOST=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_PORT=1234 #Внутри докер контейнеров
POSTGRES_PORT_OUTSIDE=1234 #Снаружи, на хосте 

#REDIS
REDIS_PORT=6379